/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --button-hover-color: #ff007066;
  --button-text-color: #ff0070;
  --header-footer-color: #db00ff;
  --header-text-color: #000028;
  --section-title-text-color: #ff0070;
  --text-color: #f1b2ce;
  --visibility: block;
}

/*.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов 
}*/
